.section{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #073064;
    padding: 0 1em; /* Adicionando padding nas laterais para evitar que o conteúdo fique muito próximo das bordas */
}

.title{
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 1.5em;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    /* border: 2px solid #d4d4d4; */
    box-shadow: 0 0 15px #191919;
    border-radius: 7px;
    padding: 2em; /* Reduzindo o padding para torná-lo mais compacto */
    width: 100%; /* Alterando para largura total */
    max-width: 400px; /* Definindo uma largura máxima para o formulário */
}

.label{
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.input{
    width: 99%;
    height: 2rem;
    margin-bottom: 1em;
    background-color: #073064;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    color: white;
}

.button{
    width: 100%;
    font-size: 1rem;
    background-color: #2E7CD1;
    height: 2.3rem;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover{
    background-color: #f88832;
    color: #fff;
}
