.section1 {
    display: flex;
    background-color: #073064;
    color: #ffff;
}

.section2 {
    background-color: #ffff;
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: auto;
}

.div-esq {
    width: 35%;
    margin-right: 5em;
}

.div-esq h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.div-esq p {
    margin-bottom: 2em;
}

.div-dir {
    width: 35%;
    margin-left: 5em;
}

.div-dir h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.div-dir p {
    margin-bottom: 2em;
}

.link {
    font-size: 16px;
    background-color: #2E7CD1;
    padding: 6px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #ffff;
    transition: background-color 0.3s, color 0.3s;
}

.link:hover {
    background-color: #f88832;
    color: #fff;
}

.saiba{
    margin-left: 1em;
    text-decoration: none;
    color: #ffff;
}

.img {
    width: 420px;
    border-radius: 15px;
    border: solid 1px #ffffff;
}

.img2 {
    width: 500px;
    border-radius: 15px;
    border: solid 1px #ffffff;
}

.features {
    list-style-type: none;
    padding-left: 0;
}

.features li {
    position: relative;
    margin-bottom: 0.3em;
    padding-left: 1.5em;
}

.features li::before {
    content: "➥";
    position: absolute;
    left: 0;
    color: #2E7CD1;
}

span {
    color: #f88832;
}

.vantagens-body {
    color: #073064;
}

/* Para telas menores que 768px */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Empilhar as divs verticalmente em telas pequenas */
        height: auto; /* Permitir que a altura seja ajustada automaticamente */
        justify-content: center; /* Centralizar verticalmente os conteúdos */
    }

    .div-esq,
    .div-dir {
        width: 90%; /* Reduzir a largura das divs para ocupar mais espaço em telas pequenas */
        margin: 2em auto; /* Centralizar as divs e adicionar espaço entre elas */
    }

    .img,
    .img2 {
        width: 100%; /* Fazer com que as imagens ocupem a largura completa do contêiner */
        margin-bottom: 1em; /* Adicionar espaço entre as imagens */
        border-radius: 15px; /* Restaurar o raio da borda */
    }

    .features li {
        padding-left: 0.5em; /* Reduzir o recuo do item da lista */
        margin-bottom: 0.5em; /* Adicionar espaço entre os itens da lista */
    }

    .features li::before {
        left: -0.5em; /* Ajustar a posição do indicador da lista */
    }
}
